body {
    font-family: 'Khmer OS', sans-serif;
    text-align: center;
}

.calendar {
    width: 80%;
    margin: 0 auto;
}

.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    width: 14.28%;
    height: 60px;
    border: 1px solid #fff;
    background-color: #2c88cd;
    color: white;
    vertical-align: top;
}

.highlight {
    border: 2px solid red !important;
}